body {
    margin: 0;
    padding: 0;
}

.head {
    padding-right: 12px;
}


.head .nav-link:hover {
    text-decoration: underline #3B5998;
}

.head img {
    padding-right: 50px;
    width: auto;
    height: 50px;
    padding-top: 4px;
}

.meeting {
    background-image: linear-gradient(-45deg, #3b5998 0%, #3b5998 80%, rgb(251, 251, 250) 50%, rgb(254, 254, 253) 100%);
    padding-top: 5px;
}

.meeting button {
    padding: 7px 20px 9px 20px;
    margin-top: 3px;
    margin-left: 100px;
    border: transparent;
}

.text_adjust_slide {
    margin: 200px 350px 200px 0px;
}

.text_adjust_slide h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: start;
}

.text_adjust_slide p {
    text-align: justify;
}


/* .back{
    width: 100%;
    background-color: red;
    border: 1px solid black;
    overflow: hidden;
} */
.about {
    padding: 80px 20px 80px 0px;
}

.about img {
    width: 100%;
}


.back {
    background: url("/images/sphere.png") no-repeat;
    margin-left: 120px;
}

.back h6 {
    color: #3B5998;
    font-size: 10px;
    font-weight: bolder;
    padding-top: 20px;
    position: absolute;
    bottom: -200px;
}

.back h4 {
    text-align: start;
    padding-right: 310px;
    position: absolute;
    bottom: -270px;
}

.back p {
    text-align: justify;
    font-size: 10px;
    padding-right: 250px;
    margin-bottom: 60px;
    position: absolute;
    bottom: -390px;
}

.back button {
    border: none;
    color: white;
    background-color: #3B5998;
    font-size: 10px;
    padding: 8px 25px;
    position: absolute;
    bottom: -401px;
    right: 472px;
}

    /* Bussiness_area */

.upper_Bussiness p{
    padding-left: 20px;
    margin-bottom:5px;
    font-size: 12px;
    color:#3B5998;
    font-weight:700;
    font-style: Nunito, Bold;
}

.upper_Bussiness h2{
    padding-left: 20px;
    padding-bottom:20px;
}

.Bussiness_area {
    background-color: #EDF0F6;
    padding: 50px 40px;
}

.Bussiness_area hr {
    width: 80%;
    margin: 0 30px;
    height: 8px;
    position: relative;
}
.Bussiness_area img{
    width: 30%;
}

.Bussiness_area .pad {
    padding: 10px 20px 10px 20px;
}
.pad p{
    text-align:justify;
    padding: 30px;
}
.pad .col h6{
    font-size: 17px;
    font-weight:700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    padding-left: 130px;
}
.pad .col{
    padding:5px 5px;
}

.pad .col button{
    padding:4px 25px;
    margin-bottom: 25px;
    border:1.5px solid #3B5998;
    color: #3B5998;
}
.pad .col button:hover{
    border:1.5px solid gray;
    background-color: #3B5998;
    color:white;
}

/* Industrial */

.Industrial{
    padding:50px 50px 0px 50px;
}

.Industrial_container{
    padding: 50px;
}
.Industrial_container p{
    font-size: 12px;
    color:#3B5998;
    font-weight:800;
}
.Ellipse>.col{
    /* padding: 20px; */
    /* border:2px solid  black; */
    /* padding: 10px; */
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000002B;
    /* width: 256px;
    height:200px; */

}
.Ellipse>.col img{
    width: 70%;
}

.Ellipse>.col h6{
    font-size: 13px;
   
}
/* .hellos{
    background: transparent url("images/Ellipse 3.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:auto;

    
} */

.Ellipse img{
    width:100%;
    padding: 20px;
}
.Ellipse_bottom img{
    width:100%;
}


/* Git_hub */

.Git_hub{
    padding:50px;
}

.Git_hub h1{
    background-color:#EDF0F6;
    padding: 20px 10px;
    font-weight: bold;
    font-size: 35px;
}
.Git_div{
    padding:0px 23px;
}

/*  top_footerarea  */

.foot_row ul li {
    list-style: none;
    padding-top: 5px;
}

.foot_row ul li a {
    color: white;
    text-decoration: none;
    font-family: Poppins;
}

.foot_row ul li i {
    border-radius: 50%;
    background-color: #444444;
    padding: 6px;
    font-size: 12px;
}

.foot_1 {
    padding: 30px 0px 30px 0px;
    background-color: #222222;
}

.image img {
    width: 70%;
    height: auto;
    text-align: center;
}

.image p {
    color: #EDF0F6;
    padding: 10px 20px 0px 40px;
    text-align: left;
    font-family: Poppins;
}

    /*  footerarea  */

.foot_2 {
    background-color: #070707;
    color: white;
}

.foot_2 p {
    padding-top: 12px;
}

.button_1 {
    border-radius: 20px;
    background: #444444;
    color: white;
    width: 120px;
    text-align: center;
    margin-left: 25px;
}

.button_2 {
    padding-left: 10px;
}

.button_2 i {
    border-radius: 50%;
    background: #444444;
    color: white;
    padding: 10px;
    margin: 10px 5px 10px 0px;
}